<!DOCTYPE html>
<html lang="en" data-theme="dark">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/pico.blue.min.css">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="shortcut icon" href="/img/e621-logo.png" type="image/png">
        <title>e621 Auto Next</title>
    </head>
    <body>
        <main>
            <div class="autoNextContainer">
                <div class="autoNextOptions">
                    <form class="autoNextForm">
                        <div class="autoNextFormHeader">
                            <nav>
                                <ul>
                                    <li><img src="/img/e621-logo.png" width="64"></li>
                                    <li><h2>Auto Next</h2></li>
                                </ul>
                                <ul>
                                    <li><button type="button" class="hideOptions">x</button></li>
                                </ul>
                            </nav>
                            <span class="errors" style="color:red"></span>
                        </div>
                        <div class="autoNextFormBody">
                            <fieldset>
                                <details closed>
                                    <summary>Start Here</summary>
                                    <label for="website">
                                        Site:
                                        <select
                                            name="website"
                                            id="website"
                                        >
                                            <option value="e621">e621.net (regular)</option>
                                            <option value="e6ai">e6ai.net (artificial intelligence)</option>
                                        </select>
                                    </label>
                                    <div class="e621Cred">
                                        <label for="e621Username">
                                            Your e621 Username:
                                            <input
                                                type="text"
                                                placeholder="Your username"
                                                id="e621Username"
                                                name="e621Username"
                                                required
                                            >
                                        </label>
                                        <label for="e621ApiKey">
                                            Your Api Key (found in <a href="https://e621.net/users/home" target="_blank">Account > Manage API Access</a>):
                                            <input
                                                type="password"
                                                placeholder="Your api key"
                                                id="e621ApiKey"
                                                name="e621ApiKey"
                                                required
                                            >
                                        </label>
                                    </div>
                                    <div class="e6aiCred">
                                        <label for="e6aiUsername">
                                            Your e6ai Username:
                                            <input
                                                type="text"
                                                placeholder="Your username"
                                                id="e6aiUsername"
                                                name="e6aiUsername"
                                                required
                                            >
                                        </label>
                                        <label for="e6aiApiKey">
                                            Your Api Key (found in <a href="https://e6ai.net/users/home" target="_blank">Account > Manage API Access</a>):
                                            <input
                                                type="password"
                                                placeholder="Your api key"
                                                id="e6aiApiKey"
                                                name="e6aiApiKey"
                                                required
                                            >
                                        </label>
                                    </div>
                                </details>
                            </fieldset>
                            <hr>
                            <fieldset>
                                <label for="tags">
                                    Tags:
                                    <input
                                        type="text"
                                        id="tags"
                                        name="tags"
                                        placeholder="Tags to search..."
                                    >
                                    <small><a
                                            href="https://e621.net/tags"
                                            target="_blank"
                                        >Tags List</a> | <a
                                            href="https://e621.net/help/cheatsheet"
                                            target="_blank"
                                        >Cheatsheet List
                                    </a></small>
                                </label>
                            </fieldset>
                            <fieldset class="grid">
                                <div>
                                    Ratings:
                                    <label for="ratingS">
                                        <input
                                            type="checkbox"
                                            id="ratingS"
                                            name="ratingS"
                                            checked
                                        ><span style="color:green">Safe</span>
                                    </label>
                                    <label for="ratingQ">
                                        <input
                                            type="checkbox"
                                            id="ratingQ"
                                            name="ratingQ"
                                            checked
                                        ><span style="color:orange">Questionable</span>
                                    </label>
                                    <label for="ratingE">
                                        <input
                                            type="checkbox"
                                            id="ratingE"
                                            name="ratingE"
                                            checked
                                        ><span style="color:red">Explicit</span>
                                    </label>
                                </div>
                                <div>
                                    Types:
                                    <label for="images">
                                        <input
                                            type="checkbox"
                                            id="images"
                                            name="images"
                                            checked
                                        > Images
                                    </label>
                                    <label for="animated">
                                        <input
                                            type="checkbox"
                                            id="animated"
                                            name="animated"
                                            checked
                                        > Animated
                                    </label>
                                    <label for="videos">
                                        <input
                                            type="checkbox"
                                            id="videos"
                                            name="videos"
                                            checked
                                        > Videos
                                    </label>
                                </div>
                            </fieldset>
                            <hr>
                            <fieldset class="">
                                <details>
                                    <summary>Options</summary>
                                    <div class="grid">
                                        Videos:
                                        <label for="waitVideoEnd">
                                            <input
                                                type="checkbox"
                                                id="waitVideoEnd"
                                                name="waitVideoEnd"
                                                checked
                                            > Wait video end before next post
                                        </label>
                                        <label for="muteVideos">
                                            <input
                                                type="checkbox"
                                                id="muteVideos"
                                                name="muteVideos"
                                                checked
                                            > Mute Videos
                                        </label>
                                        <label for="showControls">
                                            <input
                                                type="checkbox"
                                                id="showControls"
                                                name="showControls"
                                                checked
                                            > Show Commands
                                        </label>
                                    </div>
                                    <label for="minScore">
                                        Minimum score:
                                        <input
                                            type="number"
                                            placeholder="Minimum score"
                                            id="minScore"
                                            name="minScore"
                                        >
                                        <small>Empty for all posts</small>
                                    </label>
                                    <label for="secBeforeNext">
                                        Seconds before next:
                                        <input
                                            type="number"
                                            min="<%= global.rateLimit %>"
                                            value="30"
                                            id="secBeforeNext"
                                            name="secBeforeNext"
                                            placeholder="Seconds before next"
                                            required
                                        >
                                        <small>Seconds to reach before next post</small>
                                    </label>
                                </details>
                            </fieldset>
                        </div>
                        <div class="autoNextFormFooter">
                            <input type="submit" value="Start/Update">
                        </div>
                    </form>
                </div>
                <div class="autoNextMain">
                    <div class="autoNextCurrentPostHeader">
                        <div class="autoNextPostName"></div>
                    </div>
                    <div class="autoNextCurrentPostBody">
                        <div class="autoNextPostPreview"></div>
                    </div>
                    <div class="autoNextCurrentPostFooter grid">
                        <input
                            type="button"
                            value="Previous"
                            class="previousPost"
                            disabled
                        >
                        <input
                            type="button"
                            value="Pause"
                            class="pauseAutoNext"
                            disabled
                        >
                        <input
                            type="button"
                            value="Next"
                            class="nextPost"
                            disabled
                        >
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>

<script src="/js/index.js"></script>
<script src="/js/eAutoNext.js"></script>