::-webkit-scrollbar {
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background:rgba(255,255,255,0.25);
    border-radius:1em;
}

@media only screen and (hover: none) and (pointer: coarse) {
    ::-webkit-scrollbar {
        display:none;
    }
    
}

[data-theme=dark] {
    --pico-background-color: #040404;
}
body, html, main {
    height:100%;
}
main {
    padding:0;
    padding-block:0 !important;
    margin:0;
    width:100%;
}
div.autoNextContainer {
    position: relative;
    height: 100%;
}

div.autoNextOptions {
    position: absolute;
    top:0;
    left:0;
    z-index: 1;
    height: 100%;
    transform: translate(0, 0);
    transition: transform 0.3s ease-in-out;
    width: fit-content;
    box-shadow: 1px 0 10px -7px #111111;
    backdrop-filter: blur(1rem);
}
div.autoNextOptions.hidden {
    transform: translate(-100%, 0);
}
div.autoNextOptions .showOptions {
    display:none;
    position: absolute;
    top:0;
    left: 100%;
    margin: 1em;
}
div.autoNextOptions.hidden .showOptions {
    display:block;
}
form.autoNextForm {
    display:flex;
    overflow: auto;
    padding:0 1em;
    flex-direction: column;
    height:100%;
}
div.autoNextFormHeader {
    padding-bottom:1em;
}
a.menu {
    mask: url(/img/icons/bars-solid.svg);
    mask-repeat: no-repeat;
    mask-position: center;
}

div.autoNextFormBody {
    overflow: auto;
    padding-right:1em;
    margin-bottom:1em;
    flex:1;
}
div.autoNextMain {
    height:100%;
    display:flex;
    flex-direction: column;
    flex:1;
}

div.autoNextPostPreview {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.autoNextPostPreview:empty:after {
    display:block;
    content:"Nothing to show";
    color:currentColor;
    opacity:0.5;
}

div.autoNextMain div.autoNextCurrentPostBody {
    flex:1;
    box-sizing: border-box;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
}

div.autoNextPostPreview img,
div.autoNextPostPreview video
{
    transition: opacity 0.2s linear;
    max-width:100%;
    border-radius:1em;
    box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.3),
        -5px -5px 10px 5px rgba(255,255,255,0.05);
}

div.autoNextMain div.autoNextCurrentPostFooter {
    padding:1em;
}

dialog.loadConfigModal tbody {
    position:relative;
}
dialog.loadConfigModal tbody tr:hover td {
    background-color: var(--pico-secondary-hover-background);
    color:var(--pico-secondary-inverse);
    cursor:pointer;
}
dialog.loadConfigModal tbody:empty:after {
    content: "No config saved";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}